@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_style {
    @apply my-2 border border-solid border-blue-500 rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-all duration-300;
}

.content_card {
    @apply flex flex-col justify-between gap-2 pb-5 border border-solid border-gray-400 bg-white shadow-xl;
}