@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_style {
    @apply my-2 border border-solid border-blue-500 rounded-md mx-1 my-6 px-3 py-1 hover:bg-blue-500 hover:text-white transition-all duration-300;
}

.content_card {
    @apply flex flex-col justify-between gap-2 border border-solid border-gray-400 rounded-2xl bg-white shadow-xl;
}