@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_style {
    @apply mx-1 my-2 md:my-4 border border-solid border-blue-500 rounded-md px-3 py-1 hover:bg-blue-500 hover:text-white transition-all duration-300;
}

.content_card {
    @apply flex flex-col justify-between gap-2 border border-solid border-gray-400 rounded-2xl bg-white shadow-xl;
}

.container_load {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: rgb(224 242 254);
    border-radius: 100%;
    border: 5px solid rgba(186, 229, 253, 0.941);
    border-top: 5px solid rgba(255, 255, 255, 0.717);
    animation: loader 1.5s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}